<h3 class="mb-5" style="text-align: center;">Mantenimiento de Contactos</h3>

<table class="table table-light mt-4" (contactos)="prueba($event)">
  <thead class="thead-light">
    <tr>
      <th>#</th>
      <th>Contacto</th>
      <th>Direccion</th>
      <th>Telefonos</th>
      <th>Editar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contacto of contactos">
      <td>{{contacto.id}}</td>
      <td>{{contacto.contacto}}</td>
      <td>{{contacto.direccion}}</td>
      <td>
        <span *ngFor="let tel of contacto.telefonos"><br><b>{{tel | slice:0:3}}-{{tel | slice:3:6}}-{{tel | slice:6:10}}</b></span>
      </td>
      <td><a class="btn btn-warning" (click)="edit(contacto)"> Editar</a></td>
    </tr>
  </tbody>

</table>
