<h3 class="mb-5" style="text-align: center;">Contact Maintenance</h3>
<table class="table table-light mt-4" (contactos)="prueba($event)">
  <thead class="thead-light">
    <tr>
      <th>#</th>
      <th>Contact</th>
      <th>Address</th>
      <th>Phones</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contact of contacts">
      <td>{{contact.id}}</td>
      <td>{{contact.contact}}</td>
      <td>{{contact.address}}</td>
      <td>
        <span
          *ngFor="let phone of contact.phones"><br><b>{{phone | slice:0:3}}-{{phone | slice:3:6}}-{{phone | slice:6:10}}</b></span>
      </td>
      <td><a class="btn btn-warning" (click)="edit(contact)"> Edit</a></td>
    </tr>
  </tbody>
</table>
